.instruct{
    border: 2px solid red;
    padding: 20;
}
.map-style{
    height: 500px;
     width: 100%;
}
.fav-right{
    float: right;
    color: red;
    font-size: 48px;
    position: relative;
}
.fav-list{
    position: absolute;
    background-color: #fff;
    right:12px;
    z-index: 9999;
    padding: 5px;
    border: 1px solid;
}

.remove-fav{
    display: inline;
    padding: 0 8px;
    border: 1px solid #ccc;
    margin-right: 5px;
    background-color: #ccc;
    cursor: pointer;
}
.remove-fav:hover{
    background-color: #8c8484;
}
.remove-fav ~ p{
    display: inline;
}
.fav-item-wrapper{
    padding-bottom: 25px;
}